{% from 'field-macro.html' import displayField %}
{% from 'nav-macro.html' import displayNav %}
{% extends "prelogin-layout.html" %}

{% block title %}Decks {% endblock %}

{% block content %}
    {{ displayNav() }}
    <div class="container justify-content-md-center">
        <h2>Decks!</h2>
        <p>All your decks:</p>
        <div class="container-fluid">
            {% for deck in user_decks %}
            <div class="row border-bottom">
                <div class="col-8 my-auto"><a href="user/{{deck}}" class="text-underline-hover">{{ deck }}</a></div>
                <div class="col-4 my-auto">
                    <div class="dropdown">
                        <div style="float:right;">
                            <button class="btn btn-link text-underline-hover dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Редактировать
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <form action="{{ url_for('delete') }}" method="post">
                                    <li><button class='dropdown-item' name="rename" value="{{ deck }}" type="submit">Переименовать</button></li>
                                    <li><button class='dropdown-item' name="delete" value="{{ deck }}" type="submit">Удалить</button></li>
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <form class="row mt-3 justify-content-md-left" action="{{ url_for('decks') }}", method="POST">
            <div class="col-md-auto themed-grid-col">
                <p>Новая колода:</p>
            </div>
            <div class="col-4 themed-grid-col">
                <input autocomplete="off" class="form-control" id="deck_name" maxlength="25" minlength="1" name="deck_name" placeholder="Название колоды" required="" type="text" value="">            </div>
            <div class="col-4 themed-grid-col">
                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-outline-primary">
                </div>
            </div>
            {{ form.csrf_token }}
        </form>
    </div>

{% endblock %}