{% from 'nav-macro.html' import displayNav %}
{% extends "prelogin-layout.html" %}

{% block title %}Decks {% endblock %}

{% block content %}
    {{ displayNav() }}
    <script>
        function get_next_note() {
            $.ajax({
                type: "POST",
                url: "/get_note_next",
                data: $('#main_form').serialize(),
                success: function(response) {
                    var json = jQuery.parseJSON(response);

                    var note_front = $('#note_front');
                    var note_back = $('#note_back');
                    var entering_value = $('#entering_value');
                    var is_true_entering = json.is_true_entering;

                    entering_value.val('');
                    note_front.attr('class', json.notes_front);
                    note_back.attr('class', json.notes_back);
                    $('#note_number').val(json.notes_number);

                    note_front.html(note_front.attr('class'))
                    note_back.html('')

                    if (is_true_entering === 1)
                    {
                        var counter_true = +document.getElementById('true-answer-count').innerHTML + 1
                        $('#true-answer-count').html(counter_true)
                    }
                    if (is_true_entering === 0)
                    {
                        var counter_false = +document.getElementById('false-answer-count').innerHTML + 1
                        $('#false-answer-count').html(counter_false)
                    }

                    console.log(response);
                    console.log(json);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>


    <div class="container justify-content-md-center">
        <h2 style="margin-bottom: 5%;">Карточки из колоды "{{Deck_name}}"</h2>
        <div class="container mt-3">

            <div class="result-wrapper d-flex flex-row justify-content-center">
                <div id="true-answer" class="d-flex mx-2">
                    <div hidden id="true-answer-label"> Верных ответов:</div>
                    <div hidden id="true-answer-count">0</div>
                </div>
                <div id="false-answer" class="d-flex ml-2">
                    <div hidden id="false-answer-label"> Неверных ответов: </div>
                    <div hidden id="false-answer-count">0</div>
                </div>
            </div>

            <div hidden id="note-wrapper" class="note-wrapper row my-2" style="height: 150px; text-align: center;">
                <div hidden style="background-color: #1878ff; font-size: 130%; color: white;" class="border rounded col-4 mx-auto pt-5" id="btn-wrapper">
                    <div id="note_front"></div>
                    <div id="note_back"></div>
                </div>
            </div>

            <div class="form-wrapper d-flex justify-content-center">
                <form action="/get_note_next" method="post" name="form" id="main_form">
                    <input hidden id="deck_name" name="deck_name" value="{{Deck_name}}" type="text">
                    <input hidden id="note_number" name="note_number" value="0" type="text">

                    <div class="form-row">

                        <div class="col mb-2">
                            <input hidden class="form-control-lg" id="entering_value" name="entering_value" type="text" placeholder="Введите ответ">
                        </div>
                        <div class="col">
                            <input hidden style="margin-left: 17px;" class="btn btn-lg btn-primary" id="next_note" type="button" value="Следующая карточка" onclick="get_next_note();">
                        </div>
                    </div>
                </form>
            </div>

            <form action="/get_note_start" method="post" id="start_form" name="start_form">
                <input hidden name="deck_name" value="{{Deck_name}}" type="text">
                <input hidden name="note_number" value="0" type="text">
                <input class="btn btn-primary" id="start_button" type="button" value="Начать тренировку" onclick="start();">
            </form>
        </div>

    </div>

    <script>
        function start() {
            $.ajax({
                type: "POST",
                url: "/get_note_start",
                data: $('#start_form').serialize(),
                success: function(response) {
                    // $('#note_number').removeAttr('hidden')
                    $('#entering_value').removeAttr('hidden');
                    $('#next_note').removeAttr('hidden');
                    $('#btn-wrapper').removeAttr('hidden');
                    $('#note-wrapper').removeAttr('hidden');

                    $('#true-answer-label').removeAttr('hidden');
                    $('#true-answer-count').removeAttr('hidden');
                    $('#false-answer-label').removeAttr('hidden');
                    $('#false-answer-count').removeAttr('hidden');

                    $('#start_form').html('');

                    var json = jQuery.parseJSON(response);

                    $('#note_front').attr('class', json.notes_front);
                    $('#note_back').attr('class', json.notes_back);

                    var note_front = $('#note_front');
                    var note_back = $('#note_back');
                    note_front.html(note_front.attr('class'))
                    note_back.html('')

                    console.log(response);
                    console.log(json);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>
{% endblock %}