{% from 'field-macro.html' import displayField %}
{% extends "prelogin-layout.html" %}

{% block title %}Login {% endblock %}

{% block content %}
    <main class="text-center form-signin container col-4">
        <h2 class="h3 mb-3">Авторизация</h2>
        <p>Введите ваш логин и пароль, чтобы начать.</p>

        <form action="{{ url_for('login') }}", method="POST">
            {{ displayField(form.username, 'Имя пользователя', autocomplete="off", autofocus=true) }}
            {{ displayField(form.password, 'Пароль') }}
            <div class="form-group">
                <input type="submit" value="Войти" class="w-100 btn btn-lg btn-primary">
            </div>
            {{ form.csrf_token }}
        </form>

        <hr>
        <p>У вас нет аккаунта?</p>
        <div class="form-group">
            <a href={{url_for('index')}} class="btn btn-outline-primary">Создать аккаунт</a>
        </div>
    </main>


{% endblock %}