{% macro displayNav() %}
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <h2>Laon</h2>
                </a>

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href={{url_for('decks')}} class="nav-link px-2 link-dark">Колоды</a></li>
                    <li><a href={{url_for('add')}} class="nav-link px-2 link-dark">Добавить карточку</a></li>
                    <li><a href={{url_for('learn')}} class="nav-link px-2 link-dark">Учить</a></li>
                </ul>

                <div class="col-md-3 text-end">
                    <a href={{url_for('login')}} class="btn btn-outline-primary me-2">Аккаунт</a>
                    <a href={{url_for('logout')}} class="btn btn-primary">Выйти</a>
                </div>
            </header>
        </div>
{% endmacro %}